server:
  port: 8086

spring:
  application:
    name: user-service

  datasource:
    url: jdbc:mysql://localhost:3306/user_db1?createDatabaseIfNotExist=true
    username: root
    password: Riju@03Rai@07

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
