server:
  port: 8087

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/user_db1?createDatabaseIfNotExist=true
    username: root
    password: Riju@03Rai@07

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
