server:
  port: 8082

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/inventory_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: Riju@03Rai@07
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  application:
    name: inventory-service   # or order-service

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
