server:
  port: 8051

spring:
  application:
    name: api-gateway

  main:
    web-application-type: reactive

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        # ============================
        # ORDER SERVICE
        # ============================
        - id: order-service
          uri: lb://ORDER-SERVICE
          predicates:
            - Path=/orders/**, /admin/orders/**, /admin/analytics/**

        # ============================
        # BILLING SERVICE
        # ============================
        - id: billing-service
          uri: lb://BILLING-SERVICE
          predicates:
            - Path=/billing/**

        # ============================
        # INVENTORY SERVICE
        # ============================
        - id: inventory-service
          uri: lb://INVENTORY-SERVICE
          predicates:
            - Path=/inventory/**, /fulfillment/**, /products/**, /warehouses/**

        # ============================
        # USER SERVICE
        # ============================
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/users/**

        # ============================
        # AI AGENT SERVER
        # ============================
        - id: agent-server
          uri: lb://AGENT-SERVER
          predicates:
            - Path=/ai/**

      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "http://localhost:4200"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.cloud.loadbalancer: DEBUG
