server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/QuantumSoham/inventory-config-server-repo.git
          default-label: main   
          
